<div class="view-selectionPokemon">
	<h2>Selecciona tu pokemon de Combate</h2>

	<p><input	type="search"
					ng-model="pokeName"></p>

	<ul id="list-pokemon">
		<li	class="figure-pokemon"
				ng-repeat="pokemon in pokemonList">
			<figure>
		   	<strong>{{pokemon.pokeName}} <small>num: {{pokemon.pokeNum}}</small></strong>
		   	<!-- <img alt="{{pokemon.pokeImg.alt}}" ng-src="{{pokemon.pokeImg.src}}"> -->
		   	<!-- <figcaption>{{pokemon.pokeDesc}}</figcaption> -->
			</figure>
		</li>
	</ul>

</div>